<!DOCTYPE html>
<head>
    <title>Login de Configuraciones</title>
    <script>
        document.getElementById('id').value = '${USER_NAME}';
        document.getElementById('user').readOnly = true;
        var pass = document.getElementById('password2');
        var cpass = document.getElementById('new-password');
        if(!pass) alert(`You've to type a new password`);
        if(!cpass) alert(`You've to confirm new your password`);
        if(pass !== cpass) alert(`The password doesn't match`);
    </script>
</head>
<body>
    <form action="" method="post" name="formresetpassword" target="_self" id="formresetpassword">
        <label>
            <br /><strong>Usuario: &emsp;</strong>
            <input name="id" type="text" id="id" />
        </label>
            <br /><br />
        <label><strong>Password: &emsp;</strong>  
            <input name="password" type="password" id="password2" placeholder="Type your new password"/>
        </label><br /><br />
        <label><strong>Confirm Password: &emsp;</strong>  
            <input name="new-password" type="password" id="new-password" placeholder="Confirm your new password"/>
        </label>
            <br /><br />
        <label>
            <input type="submit" name="resetpassword" value="home" />
        </label>
    </form>
</body>